@model Mercer_Craigslist.Models.Item
<div class="form-group">
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Cost)
    @Html.TextAreaFor(m => m.Cost, new { @class = "form-control" })
</div>

<div class="form-group">
    <label for="OwnerEmail">Contact Email</label>
    @Html.TextAreaFor(m => m.OwnerEmail, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Category)
    @Html.EnumDropDownListFor(m => m.Category, new { @class = "form-control" })
</div>

@Html.HiddenFor(i => i.Id)
<input type="submit" class="btn btn-primary" value="Save" />