@model IEnumerable<Mercer_Craigslist.Models.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Items</h2>
<p>
    <!-- Helper Method -->
    @Html.ActionLink("Add Item", "New")
</p>
<ul>
    @foreach (var item in Model)
    {
    <li class="item-blurb">
        <img src="@Url.Content(item.ImagePath)" width="100" />
        <span class="item-name">
            @Html.ActionLink(item.Title, "Detail", "Items", new { id = item.Id }, new { })
        </span>

        @if (User.Identity.Name == item.OwnerEmail)
    {
        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        <span>|</span>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
}
    </li>
    }
</ul>
